body
{
    margin:  0%;
    padding: 0%;
    font-family: 'Tangerine', serif;
      
}

ul 
{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

a 
{
    color: blueviolet;
    text-decoration: none;
}

.navbar 
{
    height: 70px;
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
}

.navbar-nav 
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

header 
{
    padding: 1em;
    background: red;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}
